/* // @import "../../common/variable.scss"; */

.barchartCont {
  background-color: #fff;
  box-shadow: 0 7px 64px 0 rgba(19, 36, 78, 0.07);
  padding: 1rem;
/* //   margin-right: 20px; */
    border-radius: 6px;
}
.grn {
    border-radius: 8.5px;
    background-color: #eee;
    padding: 0.15rem 0.7rem;
    margin: 0 0.8rem;
    color: #4abba4;
  }
.rd {
    padding: 0.15rem 0.7rem;
    margin: 0 0.8rem;
    border-radius: 8.5px;
    background-color: #eee;
    color: rgb(238, 2, 2);
  }

  .chart {
    width: 49%;
    height: 437px;
    border-radius: 6px;
    box-shadow: 0 7px 64px 0 rgba(19, 36, 78, 0.07);
    background-color: #ffffff;
    margin-top: 24px;
  }