.dashboardTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.dbTitle {
    font-family: France;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.27;
    color: #13244e;
}

.date {
    font-size: 14px;
    line-height: 1.43;
    color: #000000;
}