.homeFirstSec {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.cardBig {
    width: 70%;
    margin-right: 12px;
}

.reassignment {
    width: 30%;
}


@media all and (max-width: 999px) {
    .homeFirstSec {
        flex-direction: column;

    }

    .cardBig {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2em;
    }

    .reassignment {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}