.homeFirstSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.val {
    width: 343px;
    height: 71px;
    border-radius: 8px;
    background-color: #f0f3f9;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.59;
    letter-spacing: normal;
    color: #000000;
    font-size: 37px;
    margin-left: auto;
    margin-right: auto;
}