.bigCardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px dashed rgba(19, 36, 78, 0.07);
}

.top {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.top-name {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.29;
    color: #13244e;
}

.rectangle {
    padding-top: 0.2em;
    border-radius: 6px;
    background-color: rgba(81, 44, 98, 0.2);
    font-size: 21px;
    font-weight: 600;
    line-height: 1.05;
    color: #512c62;
    text-align: center;
    vertical-align: center;
    padding: 0.5em;
}

#card-select {
    width: 76px;
    height: 26px;
    border-radius: 6px;
    background-color: rgba(77, 213, 153, 0.2);
    outline-style: none;
    border: none;
}

option {
    color: #4dd599 !important;
}